.drep {
		
		 
		 
		 padding-left: 30px;
		 padding-right: 30px;
		 width: auto;
		 height:auto;
		 background-color: rgba(222,196,154,0.20);
		 border: 0.5px solid rgba(222,196,154,1);
		 border-radius: 20px;
		  box-shadow: 0 0 20px rgba(222,196,154, 0.5);
		 
	 }
	 .dark-mode .drep{
		 width: auto;
		 height:auto;
		 background-color: rgba(255,255,255,0.10);
		 border: 0.5px solid white;
		 border-radius: 20px;
		  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
	 }
