  
  
.weather-app {
    border-radius: 20px;
		 background-color: rgba(222,196,154,0.20);
		 border: 0.5px solid rgba(222,196,154,1);
		 box-shadow: 0 0 20px rgba(222,196,154, 0.5);
    overflow: hidden;
    width: 100%;
    
    text-align: center;
    padding: 20px;
}
	 .dark-mode .weather-app{
		 border-radius: 20px;
		  background-color: rgba(255,255,255,0.10);
		 	 border: 0.5px solid white;
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
		 color:white;
	 }
.search-bar {
    margin-bottom: 20px;
}
	 .dark-mode .search-bar{
		 color:black;
	 }

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.current-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current-weather-left {
    flex: 1;
    text-align: left;
}

.current-weather-right {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-temp {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-icon img {
    width: 50px;
    margin-bottom: 5px;
}

.weather-desc {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}

.date {
    margin-bottom: 5px;
}

.date-dayname {
    font-size: 16px;
}

.date-day {
    font-size: 14px;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.details .value {
    font-weight: bold;
}

.forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-day {
    flex: 1;
    padding: 10px;
}

.forecast-day .day-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.forecast-day .day-icon img {
    width: 50px;
}

.forecast-day .day-temp {
    font-size: 14px;
}
